
@{
    ViewData["Title"] = "Сброс пароля";
}

<div id="container" style="width:1100px;margin:0 auto;">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <p>
        Пожалуйста, проверьте почтовый ящик для сброса пароля.
    </p>
    </div>