
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h2>@ViewData["Title"]</h2>
<p class="text-center">
    Ваш пароль был сброшен. Пожалуйста, <a asp-controller="Account" asp-action="Login"> нажмите сюда, чтобы войти</a>.
</p>

