
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="EBooks" >Электронные книги</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Accessories" >Аксессуары</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></li>
</ul>
