<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Admin" asp-action="ViewNewOrders">Новые заказы</a></li>
    <li><a asp-area="" asp-controller="Admin" asp-action="AddProduct">Добавить товар</a></li>
    <li><a asp-area="" asp-controller="Admin" asp-action="AddSupplier">Добавить поставщика</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li> <a asp-controller="Account" asp-action="LogOff">Выйти</a></li>
</ul>